// Theme colors
$theme-lt: #F3DAD3;
$theme-md: #E5AFA5;
$theme-dk: #BC3C40;

article {
    margin: 25px 0;
    // width: 800px;
    width: 100%;
    max-width: 800px;
    // border-right: 1px solid #ccc;
    padding-right: 15px;
    h4 {
        color: #567b95;
        font-size: 1rem;
        text-transform: capitalize;
    }
    svg {
        height: 15px;
    }
    .post-content {
        font-family: Georgia, Times, Times New Roman, serif;
        padding-top: 1rem;
        margin-top: 1.5rem;
        border-top: 1px solid #ccc;
    }
    .publish-date {
        color: #666;
        font-size: 0.8rem;
        font-family: sans-serif;
        font-weight: 300;
    }
}
aside {
    margin: 25px 0;
    width: inherit;
    padding-left: 15px;
    display: none !important;
    @media screen and (min-width: 830px) {
        display: block !important;
    }
}

thead {
    font-weight: bold;
    background-color: $theme-dk;
    color: white;
    tr {
        th {
            padding: 0 20px;
        }
    }
}