article {
    margin: 25px 0;
    h4 {
        color: #567b95;
        font-size: 1rem;
        text-transform: capitalize;
    }
    .post-content {
        font-family: Georgia, Times, Times New Roman, serif;
    }
    .publish-date {
        color: #666;
        font-size: 0.8rem;
        font-family: sans-serif;
        font-weight: 300;
    }
}